
.container {
  height: 100%;
  width: 100%;
}

#nft-container {
  max-width: 320px;
  background-color: var(--neutral-color-verydarkblue-card);
  border-radius: 15px;
}

.content-container {
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 20px;
  box-shadow: 0px 40px 15px 15px rgba(23,19,19,0.25);
}

#nft-img-container {
  position: relative;
  border-radius: 15px;
  text-decoration: none;
  display: block;
}

.nft-image {
  width: 100%;
  border-radius: 15px;
}

#eye-icon {
  display: none;
  background-image: url('../images/icon-view.svg');
  width: 50px;
  height: 50px;
}

.overlay {
  display: none;
  border-radius: 15px;
}

/*
##############################

## NFT Image Hover Rules ##

*/

#nft-img-container:hover #eye-icon {
  display: block;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nft-img-container:hover {
  cursor: pointer;
}

#nft-img-container:hover .overlay {
  background-color: var(--primary-color-cyan);
  height: 100%;
  width: 100%;
  opacity: .5;
  display: block;
  z-index: 2;
  position: absolute;
  bottom: 2%;
}

/*############################*/

.item-name {
  margin-bottom: 20px;
}

.item-info {
  margin-bottom: 20px;
}

.nft-info-bar {
  display: flex;
  justify-content:space-between;
  margin-bottom: 20px;
}

.time-left-ind,
.eth-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clock-svg {
  background-image: url("../images/icon-clock.svg");
  height: 15px;
  width: 15px;
  background-size: cover;
  margin-right: 5px;
}

.ethereum-svg {
  background-image: url("../images/icon-ethereum.svg");
  height: 17px;
  width: 10px;
  background-size: cover;
  margin-right: 5px;
}


#info-footer {
  border-top: 1px solid var(--primary-color-softBlue);
  padding-top: 5px;
}

.creator-info {
  display: flex;
  align-items: center;
}

.creator-avatar {
  background-image: url('../images/image-avatar.png');
  background-size: cover;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid var(--neutral-color-white);
  margin-right: 10px;
}


/*

## Card Text Colors and font weights ##

*/

a {
  text-decoration: none;
  color: var(--neutral-color-white);
}

a:hover {
  color: var(--primary-color-cyan);
  cursor: pointer;
}

.item-name,
.creator-info {
  color: var(--neutral-color-white);
}

.creator-name:hover {
  color: var(--primary-color-cyan);
  cursor: pointer;
}

.item-name:hover {
  color: var(--primary-color-cyan);
  cursor: pointer;
}

.eth-info {
  color: var(--primary-color-cyan);
  font-weight: 400;
}

.nft-info-bar {
  font-size: 0.9rem;
}

.time-left-ind,
.item-info,
.creator-span {
  color: var(--primary-color-softBlue);
  font-weight: 300;
}

.item-info {
  line-height: 1.4;
  font-size: 0.97rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.creator-span {
  font-size: 0.98rem;
}